.App {
  text-align: center;
}

.items{
  margin: auto;
  height: 120px;
  width: 70%;
  display: inline;

}
.title{
  width: 70%;
  border: 1px solid black;
  margin: auto;
}
.answer{
  width: 70%;
  border: 1px solid black;
  margin: auto;
}